:root {
    --duration: 5s;
    --background-color: black;  /*#f3236d*/
    --color: white;
    --font: Comic Sans MS, Comic Sans, cursive;
    --pseudo-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    font-size: 100%;
    color: var(--color);
    font-family: var(--font);

    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.box {
    background-color: var(--background-color);
    min-height: 80px;
    min-width: 350px;
    position: relative;
    overflow: hidden;
    margin: 150px 0;
}

.box::before {
    content: "";
    width: var(--pseudo-width);
    height: 100%;
    background-color: inherit;
    position: absolute;
    z-index: 1;
    animation: loading linear var(--duration) infinite;
}

.container {
    display: flex;
    justify-content: space-around;
    min-height: 80px;
}

.container-rotate {
    min-height: 180px;
    animation: rotation linear 1.5s infinite;
    position: relative;
}


.circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: yellow;
    animation: rainbow linear 1.5s infinite;
}

.circle-rotate {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: yellow;
    animation: rainbow linear 1.5s infinite;
    position: absolute;
}
.circle-rotate:nth-child(1) {
    top: 40%;
}

.circle-rotate:nth-child(2) {
    top: 20%;
    left: 55%;
}


.options {
    display: flex;
    justify-content: space-between;
}

.holder {
    text-align: center;
    max-height: 100px;
}

.primaryButton {
    background-color: var(--background-color);
    border: 5px solid var(--color);;

    color: var(--color);
    font: var(--font);

    padding: 10px 30px;
    display: block;
    margin: 30px auto;

    transition: padding .2s linear;
}

.holder {
    width: 300px;
}

.primaryButton:hover {
    padding: 15px 45px;
    transition: padding .2s linear;
}

@keyframes loading {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}